.social-icons {
    min-height: 35px;
}

.featured_section.footer {
    margin: 30px 0 -70px;
}

.call-to-action {
    position: relative;
    clear: both;
}

.featured_section {
    background: #F0F0ED;
    border-top: 5px solid #ECECE8;
    margin: 35px 0;
    padding: 50px 0;
}


section.toggle.active > label {
    background-color: #e0bc4f;
    border-color: #e0bc4f;
    color: #fff;
}
section.toggle label {
    color: #E0BC4F;
    border-left-color: #E0BC4F;
}

.datepicker, .bootstrap-timepicker-widget 
    {
        z-index:1151 !important;
    }


.pricing-table .plan-ribbon {
    background-image: -webkit-linear-gradient(top, #E0BC4F, #dfab3d);
    background-image: linear-gradient(to bottom, #E0BC4F,   #ce892c);
}

.img-profile-team {
    width: 100px;
    height: 90px;
}

.pricing-table h3 {
    background-color: #3C3C3B;
;
    color: #fff;
}

.pricing-table .most-popular h3 {
    background-color: #E0BC4F;
    color: #fff;
}


.campeonatos li {
    padding-left:10px;
}

.border-yellow li span {
    padding-right:10px;
    display: inline-block;

}

.border-yellow {
    border-bottom: 4px solid #E0BC4F;  border-radius: 10px;    
    border-top: 4px solid #E0BC4F;  border-radius: 10px;    
    border: -10px;
}

/* Add here all your CSS customizations */
#header {
    background: #3C3C3B none repeat scroll 0% 0%;
    clear: both;
    border-top: 5px solid #EDEDED;
    min-height: 100px;
    padding: 8px 0px;
}

#header nav ul.nav-main ul.dropdown-menu, #header nav ul.nav-main li.dropdown.open .dropdown-toggle, #header nav ul.nav-main li.active a, #header nav ul.nav-main li > a:hover, #header nav ul.nav-main li.dropdown:hover > a {
    color: #FFF;
    background-color: #E0BC4F !important;
}

.white {
    color: #FFF !important;

}

#header nav.mega-menu ul.nav-main .mega-menu-signin a {
    color: #E0BC4F;
}


#header nav.mega-menu ul.nav-main .mega-menu-signin a:hover{
    color: #FFF !important;
}

#header a {
    color: #E0BC4F;
}

.yellow {
    color: #E0BC4F !important;
}
.yellow-bg {
    padding: 10px 0px;
    background-color: #E0BC4F !important;
    color: #FFFFFF !important;
    min-height: 120px;
}

.yellow-btn{
    background-color: #E0BC4F !important;
    color: #FFFFFF !important; 
}

.red-btn{
    background-color: #E36159 !important;
    color: #FFFFFF !important; 
}

.inverted {
    background-color: #E0BC4F !important;
}

.feature-box .feature-box-icon{
    background-color: #E0BC4F !important;
}

.feature-box .feature-box-icon .fa{
	line-height: 35px !important;
}

.footer-ribbon{
    background-color: #E0BC4F !important;

}

.mega-menu-signin {

    margin-right: 10px !important;
}

/* Quartenary */
.featured-box-yellow i.icon-featured {
    background-color: #E0BC4F;
}

.featured-box-yellow h4 {
    color: #E0BC4F;
}

.featured-box-yellow .box-content {
    border-top-color: #E0BC4F;
}

#header nav.mega-menu ul.nav-main li.mega-menu-item ul.dropdown-menu {
    border-top: 6px solid #E0BC4F !important;
}

.panel-body .wizard-tabs {
    margin: -15px -15px 15px;
}

.panel-body-nopadding .wizard-tabs {
    margin: 0;
}

.wizard-tabs ul {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.wizard-tabs ul > li {
    display: table-cell;
    border-bottom: 1px solid #eeeeee;
}

.wizard-tabs ul > li.active {
    border-bottom-color: transparent;
}

.wizard-tabs ul > li.active > a, .wizard-tabs ul > li.active > a:hover, .wizard-tabs ul > li.active > a:focus {
    background: white;
    color: #555555;
}

.wizard-tabs ul > li.active > a:after {
    border-left-color: white;
}

.wizard-tabs ul > li.active .badge {
    background-color: #cccccc;
}

.wizard-tabs ul > li.disabled > a, .wizard-tabs ul > li.disabled > a:hover, .wizard-tabs ul > li.disabled > a:focus {
    color: #cccccc;
}

.wizard-tabs ul > li.disabled .badge {
    background-color: #cccccc;
}

.wizard-tabs ul > li > a {
    position: relative;
    display: block;
    padding: 5px;
    font-size: 13px;
    font-size: 1.3rem;
    text-decoration: none;
    color: #555555;
}

.wizard-tabs ul > li > a, .wizard-tabs ul > li > a:hover {
    background: #f4f4f4;
    color: #555555;
}

.wizard-tabs ul > li > a:hover {
    box-shadow: none;
}

.wizard-tabs ul > li > a:active, .wizard-tabs ul > li > a:focus {
    border-bottom: 0;
}

.wizard-tabs ul > li > a:before, .wizard-tabs ul > li > a:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    z-index: 1;
    border: 17px solid transparent;
    border-right: 0;
    border-left: 10px solid transparent;
    width: 0;
    height: 0;
}

.wizard-tabs ul > li > a:before {
    z-index: 1;
    right: -11px;
    border-left-color: #e0e0e0;
}

.wizard-tabs ul > li > a:after {
    z-index: 2;
    border-left-color: #f4f4f4;
}

.wizard-tabs ul > li:last-child > a:before, .wizard-tabs ul > li:last-child > a:after {
    display: none;
}

html.dark .wizard-tabs ul > li {
    border-color: #282d36;
}

html.dark .wizard-tabs ul > li.active {
    border-color: #2e353e;
}

html.dark .wizard-tabs ul > li.active a, html.dark .wizard-tabs ul > li.active a:hover, html.dark .wizard-tabs ul > li.active a:active {
    background: #2e353e;
    color: #EEE;
}

html.dark .wizard-tabs ul > li.active a:before {
    border-left-color: #21262d;
}

html.dark .wizard-tabs ul > li.active a:after {
    border-left-color: #2e353e;
}

html.dark .wizard-tabs ul > li a, html.dark .wizard-tabs ul > li a:hover {
    background: #282d36;
    color: #EEE;
}

html.dark .wizard-tabs ul > li a:before {
    border-left-color: #21262d;
}

html.dark .wizard-tabs ul > li a:after {
    border-left-color: #282d36;
}

html .wizard-progress,
html.dark .wizard-progress {
    margin: 0 15px;
}

html .wizard-progress .steps-progress,
html.dark .wizard-progress .steps-progress {
    height: 2px;
    margin: 0 38px;
    position: relative;
    top: 15px;
    background: #cccccc;
}

html .wizard-progress .steps-progress .progress-indicator,
html.dark .wizard-progress .steps-progress .progress-indicator {
    height: 100%;
    width: 0;
    background: #cccccc;
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
}

html .wizard-progress .wizard-steps,
html.dark .wizard-progress .wizard-steps {
    list-style: none;
    margin: 0;
    padding: 15px 0 0;
    display: inline-block;
    width: 100%;
    font-size: 0;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    /* IE8+ */;
}

html .wizard-progress .wizard-steps:after,
html.dark .wizard-progress .wizard-steps:after {
    /*
    * We don't need IE6 and IE7 inline-block hack support here
    * since they don't support :after anyways (the text-justify
    * properties for them are above)... IE8 and above have native
    * inline-block support so for IE8+, both the text-justify and
    * :after will take effect but it doesn't have any negative
    * effects since this element is invisible
    */
    display: inline-block;
    width: 100%;
    content: '.';
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
html .wizard-progress .wizard-steps li,
html.dark .wizard-progress .wizard-steps li {
    display: inline-block;
    vertical-align: top;
    min-width: 50px;
    max-width: 100px;
}
html .wizard-progress .wizard-steps li a,
html.dark .wizard-progress .wizard-steps li a {
    position: relative;
    display: block;
    padding: 25px 8px 0;
    font-size: 11px;
    color: #33333f;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    word-break: break-all;
}
html .wizard-progress .wizard-steps li a span,
html.dark .wizard-progress .wizard-steps li a span {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    background: #cccccc;
    color: white;
    line-height: 26px;
    text-align: center;
    margin-top: -15px;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    border-radius: 35px;
    font-size: 13px;
    text-indent: -1px;
    border: 2px solid #cccccc;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
html .wizard-progress .wizard-steps li.completed a span,
html.dark .wizard-progress .wizard-steps li.completed a span {
    background: #cccccc;
    color: white;
}
html .wizard-progress .wizard-steps li.active a span,
html.dark .wizard-progress .wizard-steps li.active a span {
    background: white;
    color: #cccccc;
    border-color: #cccccc;
}
html .wizard-progress .wizard-steps li.completed.active a span,
html.dark .wizard-progress .wizard-steps li.completed.active a span {
    color: #FFF;
}
html .wizard-progress.wizard-progress-lg,
html.dark .wizard-progress.wizard-progress-lg {
    margin: 0 auto 30px;
    width: 80%;
}
html .wizard-progress.wizard-progress-lg .steps-progress,
html.dark .wizard-progress.wizard-progress-lg .steps-progress {
    margin: 0 52px;
    height: 4px;
    top: 34px;
}
html .wizard-progress.wizard-progress-lg .wizard-steps,
html.dark .wizard-progress.wizard-progress-lg .wizard-steps {
    padding-top: 30px;
}
html .wizard-progress.wizard-progress-lg ul li,
html.dark .wizard-progress.wizard-progress-lg ul li {
    max-width: 135px;
}
html .wizard-progress.wizard-progress-lg ul li a,
html.dark .wizard-progress.wizard-progress-lg ul li a {
    padding-top: 40px;
    font-size: 14px;
}
html .wizard-progress.wizard-progress-lg ul li a span,
html.dark .wizard-progress.wizard-progress-lg ul li a span {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 60px;
    line-height: 52px;
    font-size: 22px;
    border-width: 4px;
}

html.dark .wizard-progress .wizard-steps li a {
    color: #808697;
}
html.dark .wizard-progress.wizard-progress ul li a span {
    background: #242830;
    border-color: #242830;
}
html.dark .wizard-progress .wizard-steps li.active a span {
    background: #242830;
}
html.dark .wizard-progress .steps-progress {
    background: #242830;
}

@media only screen and (max-width: 991px) {
    html .wizard-progress, html .wizard-progress.wizard-progress-lg, html.dark .wizard-progress, html.dark .wizard-progress.wizard-progress-lg {
        width: auto;
        margin-bottom: 0;
        margin-left: -15px;
        margin-right: -15px;
    }
    html .wizard-progress .steps-progress, html.dark .wizard-progress .steps-progress {
        display: none;
    }
    html .wizard-progress .wizard-steps, html.dark .wizard-progress .wizard-steps {
        display: block;
        font-size: 0;
        overflow: hidden;
        white-space: nowrap;
        text-align: left;
        width: 100%;
    }
    html .wizard-progress .wizard-steps li, html.dark .wizard-progress .wizard-steps li {
        -webkit-transition: margin 0.5s linear;
        -moz-transition: margin 0.5s linear;
        transition: margin 0.5s linear;
        display: inline-block;
        float: none;
        position: relative;
        width: 100%;
        min-width: 0;
        max-width: none;
    }
    html .wizard-progress .wizard-steps li a, html.dark .wizard-progress .wizard-steps li a {
        position: relative;
        z-index: 2;
    }
    html .wizard-progress .wizard-steps li:before, html .wizard-progress .wizard-steps li:after, html.dark .wizard-progress .wizard-steps li:before, html.dark .wizard-progress .wizard-steps li:after {
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        top: 0;
        width: 50%;
    }
    html .wizard-progress .wizard-steps li:before, html.dark .wizard-progress .wizard-steps li:before {
        background: #cccccc;
        left: 0;
    }
    html .wizard-progress .wizard-steps li:after, html.dark .wizard-progress .wizard-steps li:after {
        background: #cccccc;
        right: 0;
    }
    html .wizard-progress .wizard-steps li.active, html.dark .wizard-progress .wizard-steps li.active {
        margin-left: 0;
    }
    html .wizard-progress .wizard-steps li.completed, html.dark .wizard-progress .wizard-steps li.completed {
        margin-left: -100%;
    }
    html .wizard-progress .wizard-steps li.completed:after, html.dark .wizard-progress .wizard-steps li.completed:after {
        background: #cccccc;
    }
    html .wizard-progress .wizard-steps li.completed.active, html.dark .wizard-progress .wizard-steps li.completed.active {
        margin-left: 0;
    }
    html .wizard-progress .wizard-steps li:first-child:before, html.dark .wizard-progress .wizard-steps li:first-child:before {
        display: none;
    }
    html .wizard-progress .wizard-steps li:last-child:after, html.dark .wizard-progress .wizard-steps li:last-child:after {
        display: none;
    }
    html .wizard-progress.wizard-progress-lg .wizard-steps li, html.dark .wizard-progress.wizard-progress-lg .wizard-steps li {
        min-width: 0;
        max-width: none;
    }
    html .wizard-progress.wizard-progress-lg .wizard-steps li:before, html .wizard-progress.wizard-progress-lg .wizard-steps li:after, html.dark .wizard-progress.wizard-progress-lg .wizard-steps li:before, html.dark .wizard-progress.wizard-progress-lg .wizard-steps li:after {
        height: 4px;
    }
}
.form-wizard {
    margin-bottom: 20px;
}
.form-wizard .tabs {
    margin-bottom: 0;
}
.form-wizard .tab-content {
    background: none;
    border: 0 none;
    box-shadow: none;
}
.form-wizard ul.pager .next a,
.form-wizard ul.pager .previous a,
.form-wizard ul.pager .first a,
.form-wizard ul.pager .last a,
.form-wizard ul.pager .finish a {
    cursor: pointer;
}
.form-wizard ul.pager .disabled a {
    cursor: not-allowed;
}

html.dark .form-wizard .pager li > a,
html.dark .form-wizard .pager li > a:hover,
html.dark .form-wizard .pager li > a:focus,
html.dark .form-wizard .pager li > span {
    background: #2e353e;
    border-color: #282d36;
    color: #EEE;
}
html.dark .form-wizard .pager .disabled > a, html.dark .form-wizard .pager .disabled > a:hover, html.dark .form-wizard .pager .disabled > a:focus, html.dark .form-wizard .pager .disabled > span {
    background: #282d36;
    border-color: #282d36;
    color: #EEE;
}
