<section class="page-top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb">
					<li class="home">
						<span typeof="v:Breadcrumb">
							<a property="v:title" title="Go to Social Gamers." href="/" class="home">Social Gamers</a>
						</span>
					</li>
                </ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2 class="yellow">404</h2>
			</div>
		</div>
	</div>
</section>

<div class="container">
    <div class="row">
		<div class="col-md-12 column_first text-center">
		<h1> Parece que a página resolveu feedar um poquinho.</h1>
		<h2> Tente novamente mais tarde </h2>
    	</div>
	</div>
</div>
