
<div class="container">
    <div class="row">
        <div class="col-md-12 column_first column_last">
            <h2>Conheça nossa equipe de <strong>Casters</strong></h2>
        </div>
        <div class="col-md-3 column_first">
            <div>
            	<img src="/img/site/narrador/madzo.png"/>
            	<div class="clear"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div>
            	<img src="/img/site/narrador/colosimus.png">
            	<div class="clear"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div>
            	<img src="/img/site/narrador/celu.png">
				<div class="clear"></div>
			</div>
        </div>
        <div class="col-md-3 column_last">
            <div>
            	<img src="/img/site/narrador/tibiano.png">
            	<div class="clear"></div>
            </div>
        </div>
    </div>
</div>