<html>
    <head>
        <title>Sua nova senha SocialGamers!</title>
    </head>
    <body>
        <table>
            <tr> <td>Saudações Summoner!.</td> </tr>
            <tr> <td>Você solicitou uma nova senha para seu cadastro na SocialGamers!</td> </tr>
            <tr> <td>Sua nova senha é: {{userData['password']}}</td> </tr>
            <tr/>
            <tr/>
            <tr> <td> Muito Obrigado! </td></tr>
            <tr> <td> Atenciosamente, Equipe MSL e SocialGamers </td></tr>
        </table>
    </body>
</html>